wandb*
checkpoint*/
checkpoint*/** 

# Altri file o cartelle tipici da ignorare in ML/DL
logs/
*.pt
*.ckpt
*.tar.gz
__pycache__/
*.pyc
wandb*
data/cifar-10-python.tar.gz
data/cifar-100-python.tar.gz

# ignora cartelle dataset locali
data/
